body, html {
    height: 100%;
}

input {
    border-radius: unset;
}

.form-control {
    outline: none;
    color: #606266;
    font-size: 14px;
    height: 42px;
    padding: 0 10px;
    border-radius: unset;
}

.rounded-50 {
    border-radius: 50px;
}

.app {
    justify-content: start;
    height: 100%;
}

.text-small {
    font-size: 0.8rem !important;
}

.header {
    height: 60px;
}

.btn {
    height: 42px;
}

.w-100-down-sm {
    @media (max-width: 575px) {
        width: 100%;
    }
}

.border-left {
    border-width: 3px !important;
}

.title-chart {
    font-size: 1.7rem;
    font-weight: 800;
    border-color: #2c3e50 !important;
    padding-left: 0.5rem;
}

// Element custom 

// Radio
.el-radio+.el-radio{
    margin-left: 10px;
    @media (max-width: 560px) {
        margin-left: 0px;
    }
}

.el-message {
    @media (max-width: 575px) {
        width: 100% !important;
    }
}