<template>
  <div>
    <v-alert v-if="alertList" :alertList="alertList" />
    <div class="row w-100">
      <div class="col-12 m-3">
        <h3>CRUD de Pessoas</h3>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-12 ml-3 mr-3">
        <el-collapse v-model="collapsed">
          <el-collapse-item name="form">
            <span slot="title" v-if="update">
              <i class="header-icon el-icon-edit mr-2"/>Editar pessoa
            </span>
            <span slot="title" v-else>
              <i class="header-icon el-icon-plus mr-2"/>Nova pessoa
            </span>
            <div class="row ml-2 mr-2">
              <div class="col-12 form-group">
                <label for="nome">Nome*</label>
                <input
                  v-model="model._nome"
                  class="form-control"
                  type="text"
                  id="nome">
                  <small class="text-danger" v-if="validate && !$v.model._nome.required">Por favor, digite seu nome.</small>
              </div>
            </div>
            <div class="row ml-2 mr-2">
              <div class="col-7 form-group">
                <label for="dtNascimento">Data de nascimento*</label>
                <el-date-picker
                  v-model="model._dtNascimento"
                  type="date"
                  placeholder="Selecione"
                  class="w-100"
                  format="dd/MM/yyyy">
                </el-date-picker>
                <small class="text-danger" v-if="validate && !$v.model._dtNascimento.required">Selecione sua data de nascimento.</small>
              </div>
              <div class="col-5 form-group">
                <label>Sexo*</label>
                <div class="pt-2">
                  <el-radio v-model="model._sexo" label="M">Masculino</el-radio>
                  <el-radio v-model="model._sexo" label="F">Feminino</el-radio>
                </div>
                <small class="text-danger" v-if="validate && !$v.model._sexo.required">Escolha o sexo.</small>
              </div>
            </div>
            <div class="row ml-2 mr-2">
              <div class="col-12 col-sm-7 form-group">
                <label for="endereco">Endereço</label>
                <input v-model="model._endereco" class="form-control" type="text" id="endereco">
              </div>
              <div class="col-12 col-sm-5 form-group">
                <label for="cidade">Cidade</label>
                <input v-model="model._cidade" class="form-control" type="text" id="cidade">
              </div>
            </div>
            <div class="row ml-2 mr-2">
              <div class="col-12 col-sm-7 form-group">
                <label for="estado">Estado</label>
                <input v-model="model._estado" class="form-control" type="text" id="estado">
              </div>
              <div class="col-12 col-sm-5 form-group">
                <label for="documento">Documento*</label>
                <input v-model="model._documento" class="form-control" type="text" id="documento">
                <small class="text-danger" v-if="validate && !$v.model._documento.required">Insira um documento de identificação.</small>
              </div>
            </div>
            <div class="row ml-2 mr-2">
              <div class="col-12">
                <button type="submit" class="btn btn-primary rounded-50 mr-3 pl-3 pr-3 w-100-down-sm" @click.prevent="salvar">Salvar</button>
                <button type="cancel" class="btn btn-outline-secondary rounded-50 mt-3 mt-sm-0 mr-3 pl-3 pr-3 w-100-down-sm" @click.prevent="limpar">Limpar</button>
                <button v-if="model._id" type="cancel" class="btn btn-outline-danger rounded-50 mt-3 mt-sm-0 mr-3 pl-3 pr-3 w-100-down-sm" @click.prevent="desativar">Desativar</button>
              </div>
            </div>
          </el-collapse-item>
        </el-collapse>
      </div>
    </div>
    <el-tabs class="col mt-4" @tab-click="handleClick">
      <el-tab-pane label="Pessoas">
        <el-table :data="tableData" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <p>Endereço: {{ props.row.endereco }}</p>
              <p>Cidade: {{ props.row.cidade }}</p>
              <p>Estado: {{ props.row.estado }}</p>
              <p>Data de nascimento: {{ props.row.dtNascimentoTratada }}</p>
            </template>
          </el-table-column>
          <el-table-column
            label="Idade"
            prop="idade"
            width="80"
            :filter-method="filterIdadeHandler"
            :filters="filtrosIdade">
          </el-table-column>
          <el-table-column label="Nome" prop="nome" min-width="200">
          </el-table-column>
          <el-table-column label="Documento" prop="documento" min-width="200">
          </el-table-column>
          <el-table-column
            prop="sexoTratado"
            label="Sexo"
            width="120"
            :filter-method="filterHandler"
            :filters="filtrosSexo">
          </el-table-column>
          <el-table-column label="Ações" width="70">
            <template slot-scope="props">
              <router-link to="" class="text-info" @click.native="editar(props.row.id)">
                Editar
              </router-link>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="Relatórios">
        <div class="border-bottom mb-4 pb-3">
          <span class="title-chart border-left">Pessoas por sexo</span>
          <div class="chart chartPessoasPorSexo"></div>
        </div>
        <div>
          <span class="title-chart border-left">Pessoas por idade</span>
          <div class="chart chartPessoasPorIdade"></div>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
/**
 * List of pessoas
 */
import Proxy from '@/proxies/Proxy'
import VAlert from '@/components/Alert'
import moment from 'moment'
import Pessoa from '@/models/Pessoa'
import _ from 'lodash'
import { required } from 'vuelidate/lib/validators'
import * as c3 from 'c3'
import * as d3 from 'd3'

export default {
  name: 'list-of-pessoas',
  data () {
    return {
      alertList: [],
      msg: {
        tipo: '',
        descricao: ''
      },
      update: false,
      listaPessoas: [],
      tableData: [],
      collapsed: '',
      totalItens: 0,
      faixa0a9: 0,
      faixa10a19: 0,
      faixa20a29: 0,
      faixa30a39: 0,
      faixa40: 0,
      homens: 0,
      mulheres: 0,
      validate: false,
      model: new Pessoa(),
      filtrosIdade: [
        {text: '0 a 9', value: '0-9'},
        {text: '10 a 19', value: '10-19'},
        {text: '20 a 29', value: '20-29'},
        {text: '30 a 39', value: '30-39'},
        {text: 'Maior que 40', value: '40-200'}
      ],
      filtrosSexo: [
        {text: 'Masculino', value: 'Masculino'},
        {text: 'Feminino', value: 'Feminino'}
      ]
    }
  },
  validations: {
    model: {
      _nome: {
        required
      },
      _dtNascimento: {
        required
      },
      _sexo: {
        required
      },
      _documento: {
        required
      }
    }
  },
  methods: {
    handleClick (tab) {
      const self = this
      if (Number(tab.index) === 1) {
        self.limpar()
      }
    },
    pessoasPorSexo () {
      const self = this
      self.chartPessoasPorSexo = c3.generate({
        bindto: d3.select('.chartPessoasPorSexo'),
        data: {
          columns: [
            ['Homens', self.homens],
            ['Mulheres', self.mulheres]
          ],
          labels: true,
          type: 'bar'
        },
        padding: {
          bottom: 20
        },
        bar: {
          space: 0.2,
          width: {
            ratio: 0.4
          }
        },
        axis: {
          x: { show: false },
          y: { show: false }
        },
        color: {
          pattern: ['#1EA7CB', '#9da6b1']
        }
      })
    },
    pessoasPorIdade () {
      const self = this
      self.chartPessoasPorSexo = c3.generate({
        bindto: d3.select('.chartPessoasPorIdade'),
        data: {
          columns: [
            ['0 a 9 anos', self.faixa0a9],
            ['10 a 19 anos', self.faixa10a19],
            ['20 a 29 anos', self.faixa20a29],
            ['30 a 39 anos', self.faixa30a39],
            ['Acima de 40 anos', self.faixa40]
          ],
          type: 'pie'
        },
        color: {
          pattern: ['#5dc2dc', '#39b6d4', '#6dcae2', '#84d5ea', '#1EA7CB']
        }
      })
    },
    buscarPessoas () {
      const self = this
      const proxy = new Proxy('pessoas?status=1')
      const resposta = proxy.findAll()
      if (resposta) {
        resposta.then((retorno) => {
          self.listaPessoas = retorno.data
          self.listaPessoas.forEach((pessoa) => {
            pessoa.dtNascimentoTratada = moment(pessoa.dtNascimento).format('DD/MM/YYYY')
            pessoa.idade = moment().diff(moment(pessoa.dtNascimento), 'years')
            pessoa.sexoTratado = pessoa.sexo === 'M' ? 'Masculino' : 'Feminino'
            self.tableData.push(pessoa)
          })
          self.faixa0a9 = _.filter(self.tableData, pessoa => pessoa.idade >= 0 && pessoa.idade <= 9).length
          self.faixa10a19 = _.filter(self.tableData, pessoa => pessoa.idade >= 10 && pessoa.idade <= 19).length
          self.faixa20a29 = _.filter(self.tableData, pessoa => pessoa.idade >= 20 && pessoa.idade <= 29).length
          self.faixa30a39 = _.filter(self.tableData, pessoa => pessoa.idade >= 30 && pessoa.idade <= 39).length
          self.faixa40 = _.filter(self.tableData, pessoa => pessoa.idade >= 40).length
          self.homens = _.filter(self.listaPessoas, pessoa => pessoa.sexo === 'M').length
          self.mulheres = _.filter(self.listaPessoas, pessoa => pessoa.sexo === 'F').length
          self.totalItens = retorno.total
          self.pessoasPorSexo()
          self.pessoasPorIdade()
        }).catch((erro) => console.error(erro))
      } else {
        self.msg.tipo = 'warning'
        self.msg.descricao = 'Erro ao buscar as pessoas'
        self.alertList.push(self.msg)
      }
    },
    filterIdadeHandler (value, row, column) {
      const property = column['property']
      const inicioFaixa = Number(value.split('-')[0])
      const finalFaixa = Number(value.split('-')[1])
      return row[property] >= inicioFaixa && row[property] <= finalFaixa
    },
    filterHandler (value, row, column) {
      const property = column['property']
      return row[property] === value
    },
    editar (idPessoa) {
      const self = this
      self.model.montaModel(_.find(self.listaPessoas, pessoa => pessoa.id === idPessoa))
      self.tableData = []
      self.listaPessoas.forEach(pessoa => self.tableData.push(pessoa))
      self.tableData = _.remove(self.tableData, pessoa => pessoa.id !== idPessoa)
      self.collapsed = 'form'
      self.update = true
    },
    salvar () {
      const self = this
      self.validate = true
      self.$v.$touch()
      if (self.$v.$error || self.$v.$invalid) {
        self.msg.tipo = 'warning'
        self.msg.descricao = 'Verifique o formulário, preencha as informações necessárias e tente novamente.'
        self.alertList.push(self.msg)
      } else {
        const proxy = new Proxy('pessoas')
        let resposta
        if (self.model.id) {
          resposta = proxy.update(self.model.id, self.model.json)
        } else {
          resposta = proxy.create(self.model.json)
        }
        if (resposta) {
          resposta
            .then((retorno) => {
              self.msg.tipo = retorno.mensagem.tipo
              self.msg.descricao = retorno.mensagem.descricao
              self.alertList.push(self.msg)
              self.limpar()
              self.tableData = []
              self.validate = false
              self.buscarPessoas()
            })
            .catch((erro) => console.error(erro))
        } else {
          self.msg.tipo = 'warning'
          self.msg.descricao = 'Erro ao salvar pessoa'
          self.alertList.push(self.msg)
        }
      }
    },
    desativar () {
      const self = this
      const proxy = new Proxy('pessoas')
      const resposta = proxy.disable(self.model.id)
      if (resposta) {
        self.msg.tipo = 'success'
        self.msg.descricao = 'Pessoa desativada com sucesso'
        self.alertList.push(self.msg)
        self.limpar()
        self.tableData = []
        self.buscarPessoas()
      } else {
        self.msg.tipo = 'warning'
        self.msg.descricao = 'Erro ao desativar'
        self.alertList.push(self.msg)
      }
    },
    limpar () {
      const self = this
      self.tableData = []
      self.listaPessoas.forEach(pessoa => self.tableData.push(pessoa))
      self.collapsed = ''
      self.model = new Pessoa()
      self.update = false
      self.validate = false
    }
  },
  created () {
    const self = this
    self.buscarPessoas()
  },
  components: {
    VAlert
  }
}
</script>
